### API ###
SERVER_PORT=

### CONTAINERS ###
POSTGRES_V=
REDIS_V=

### DB ###
POSTGRES_NAME=
POSTGRES_PASS=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PORT=

### CACHE ###
REDIS_PASS=
REDIS_HOST=
REDIS_PORT=