### API ###
SERVER_PORT=

### CONTAINERS ###
POSTGRES_V=
REDIS_V=

### DB ###
POSTGRES_NAME=
POSTGRES_PASS=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PORT=

### APP ###
CLIENT_ORIGIN=
COOKIES_SITE=
COOKIES_PATH=
ZONE=

### MAIL ###
MAIL_HOST=
MAIL_PORT=
MAIL_PASS=
MAIL_USER=

### JWT ###
JWT_PUBLIC_KEY=
JWT_PRIVATE_KEY=

### AUTH ###
FLOW_TTL=
FLOW_CLEANUP=
PASS_TTL=
PASS_CLEANUP=
REFRESH_TTL=
REFRESH_CLEANUP=
ACCESS_TTL=

### DOCS ###
DOCS_ENABLE=