<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="button(link, text)">
    <div style="
        margin: 16px auto;
        text-align: center;
    ">
        <a th:href="${link}"
           th:text="${text}"
           href="#"
           style="
               display: inline-block;
               padding: 10px;
               border-radius: 6px;
               background-color: #1c1917;
               color: #ffffff !important;
               font-size: 14px;
               font-weight: 600;
               text-decoration: none;
           ">
        </a>
    </div>
</th:block>
</html>